<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.visitor.mapper.VisitorApplyRecordMapper">

    <resultMap type="VisitorApplyRecord" id="VisitorApplyRecordResult">
        <result property="id"    column="id"    />
        <result property="wxUserId"    column="wx_user_id"    />
        <result property="wxUserName"    column="wx_user_name"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="applyState"    column="apply_state"    />
        <result property="visitTime"    column="visit_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="accessMatters"    column="access_matters"    />
        <result property="accessPeopleNum"    column="access_people_num"    />
        <result property="reviewedById"    column="reviewed_by_id"    />
        <result property="reviewedByName"    column="reviewed_by_name"    />
        <result property="reviewedByTime"    column="reviewed_by_time"    />
        <result property="reviewedFailed"    column="reviewed_failed"    />
        <result property="receptionistId"    column="receptionist_id"    />
        <result property="receptionistName"    column="receptionist_name"    />
        <result property="receptionistTime"    column="receptionist_time"    />
        <result property="healthCodeState"    column="health_code_state"    />
        <result property="temperature"    column="temperature"    />
        <result property="qrCodeUrl"    column="qr_code_url"    />
        <result property="qrCodeState"    column="qr_code_state"    />
        <result property="leaveTime"    column="leave_time"    />
        <result property="invalidReason"    column="invalid_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="guardId"    column="guard_id"    />
        <result property="guardName"    column="guard_name"    />



    </resultMap>

    <sql id="selectVisitorApplyRecordVo">
        select id, wx_user_id, wx_user_name, apply_time, apply_state, visit_time, dept_id,
               dept_name, access_matters, access_people_num, reviewed_by_id, reviewed_by_name,
               reviewed_by_time, reviewed_failed, receptionist_id, receptionist_name,
               receptionist_time, health_code_state, temperature, qr_code_url, qr_code_state,
               leave_time, invalid_reason, create_time ,guard_id,guard_name
        from visitor_apply_record
    </sql>

    <select id="selectVisitorApplyRecordList" parameterType="VisitorApplyRecord" resultMap="VisitorApplyRecordResult">
        <include refid="selectVisitorApplyRecordVo"/>
        <where>
            <if test="wxUserId != null  and wxUserId != ''">  and wx_user_id = #{wxUserId}</if>
            <if test="wxUserName != null  and wxUserName != ''"> and wx_user_name like concat('%', #{wxUserName}, '%')</if>
            <if test="applyTime != null "> and apply_time = #{applyTime}</if>
            <if test="visitTime != null "> and visit_time = #{visitTime}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="accessMatters != null  and accessMatters != ''"> and access_matters = #{accessMatters}</if>
            <if test="accessPeopleNum != null "> and access_people_num = #{accessPeopleNum}</if>
            <if test="receptionistName != null  and receptionistName != ''"> and receptionist_name like concat('%', #{receptionistName}, '%')</if>
        </where>
    </select>

    <select id="selectVisitorApplyRecordById" parameterType="String" resultMap="VisitorApplyRecordResult">
        <include refid="selectVisitorApplyRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertVisitorApplyRecord" parameterType="VisitorApplyRecord">
        insert into visitor_apply_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="wxUserId != null">wx_user_id,</if>
            <if test="wxUserName != null">wx_user_name,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="applyState != null">apply_state,</if>
            <if test="visitTime != null">visit_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="accessMatters != null and accessMatters != ''">access_matters,</if>
            <if test="accessPeopleNum != null">access_people_num,</if>
            <if test="reviewedById != null">reviewed_by_id,</if>
            <if test="reviewedByName != null">reviewed_by_name,</if>
            <if test="reviewedByTime != null">reviewed_by_time,</if>
            <if test="reviewedFailed != null">reviewed_failed,</if>
            <if test="receptionistId != null">receptionist_id,</if>
            <if test="receptionistName != null">receptionist_name,</if>
            <if test="receptionistTime != null">receptionist_time,</if>
            <if test="healthCodeState != null">health_code_state,</if>
            <if test="temperature != null">temperature,</if>
            <if test="qrCodeUrl != null">qr_code_url,</if>
            <if test="qrCodeState != null">qr_code_state,</if>
            <if test="leaveTime != null">leave_time,</if>
            <if test="invalidReason != null">invalid_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="guardId != null">guard_id,</if>
            <if test="guardName != null">guard_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="wxUserId != null">#{wxUserId},</if>
            <if test="wxUserName != null">#{wxUserName},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="applyState != null">#{applyState},</if>
            <if test="visitTime != null">#{visitTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="accessMatters != null and accessMatters != ''">#{accessMatters},</if>
            <if test="accessPeopleNum != null">#{accessPeopleNum},</if>
            <if test="reviewedById != null">#{reviewedById},</if>
            <if test="reviewedByName != null">#{reviewedByName},</if>
            <if test="reviewedByTime != null">#{reviewedByTime},</if>
            <if test="reviewedFailed != null">#{reviewedFailed},</if>
            <if test="receptionistId != null">#{receptionistId},</if>
            <if test="receptionistName != null">#{receptionistName},</if>
            <if test="receptionistTime != null">#{receptionistTime},</if>
            <if test="healthCodeState != null">#{healthCodeState},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="qrCodeUrl != null">#{qrCodeUrl},</if>
            <if test="qrCodeState != null">#{qrCodeState},</if>
            <if test="leaveTime != null">#{leaveTime},</if>
            <if test="invalidReason != null">#{invalidReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="guardId != null">#{guardId},</if>
            <if test="guardName != null">#{guardName},</if>
         </trim>
    </insert>

    <update id="updateVisitorApplyRecord" parameterType="VisitorApplyRecord">
        update visitor_apply_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="wxUserId != null">wx_user_id = #{wxUserId},</if>
            <if test="wxUserName != null">wx_user_name = #{wxUserName},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="applyState != null">apply_state = #{applyState},</if>
            <if test="visitTime != null">visit_time = #{visitTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="accessMatters != null and accessMatters != ''">access_matters = #{accessMatters},</if>
            <if test="accessPeopleNum != null">access_people_num = #{accessPeopleNum},</if>
            <if test="reviewedById != null">reviewed_by_id = #{reviewedById},</if>
            <if test="reviewedByName != null">reviewed_by_name = #{reviewedByName},</if>
            <if test="reviewedByTime != null">reviewed_by_time = #{reviewedByTime},</if>
            <if test="reviewedFailed != null">reviewed_failed = #{reviewedFailed},</if>
            <if test="receptionistId != null">receptionist_id = #{receptionistId},</if>
            <if test="receptionistName != null">receptionist_name = #{receptionistName},</if>
            <if test="receptionistTime != null">receptionist_time = #{receptionistTime},</if>
            <if test="healthCodeState != null">health_code_state = #{healthCodeState},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="qrCodeUrl != null">qr_code_url = #{qrCodeUrl},</if>
            <if test="qrCodeState != null">qr_code_state = #{qrCodeState},</if>
            <if test="leaveTime != null">leave_time = #{leaveTime},</if>
            <if test="invalidReason != null">invalid_reason = #{invalidReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="guardId != null">guard_id = #{guardId},</if>
            <if test="guardName != null">guard_name = #{guardName},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVisitorApplyRecordById" parameterType="String">
        delete from visitor_apply_record where id = #{id}
    </delete>

    <delete id="deleteVisitorApplyRecordByIds" parameterType="String">
        delete from visitor_apply_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="deptVoResultMap" type="com.ruoyi.project.miniapp.controller.vo.WxDeptVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="ancestors" column="ancestors"/>
        <result property="sort" column="sort"/>
        <result property="parentId" column="parentId"/>
        <association property="parent" javaType="com.ruoyi.project.miniapp.controller.vo.WxDeptVo">
            <id property="id" column="parentId"/>
            <result property="name" column="pname"/>
        </association>
    </resultMap>

    <resultMap id="userVoResultMap" type="com.ruoyi.project.miniapp.controller.vo.WxUserInfoVo">
        <!-- 用户id-->
        <result property="userId" column="user_id"/>
        <!-- 部门id-->
        <result property="deptId" column="dept_id"/>
        <!-- 用户名称 -->
        <result property="name" column="nick_name"/>
        <result property="phone" column="phonenumber"/>
    </resultMap>


    <select id="findDeptList" parameterType="Long" resultMap="deptVoResultMap">
        SELECT d.dept_id    as id,
        d.dept_name  as name,
        d.order_num  as sort,
        d.parent_id  as parentId,
        d.ancestors  as ancestors,
        pd.dept_name AS pname
        FROM sys_dept d
        LEFT JOIN sys_dept pd ON d.parent_id = pd.dept_id
        where d.del_flag = '0'
        <if test="deptId != null and deptId != 0">
            AND dept_id = #{deptId}
        </if>
        ORDER BY d.order_num ASC;
    </select>
    <select id="findUserList" parameterType="Long" resultMap="userVoResultMap">
        SELECT u.user_id,
        u.dept_id,
        u.nick_name,
        u.phonenumber
        FROM sys_user AS u
        where u.del_flag = '0'
        AND u.dept_id = #{deptId}
    </select>


    <resultMap id="WxInfoResultMap" type="com.ruoyi.project.miniapp.controller.vo.WxUserInfoVo">
            <!-- 微信id-->
        <id property="wxId" column="wxId"/>
        <!-- 用户id-->
        <result property="userId" column="userId"/>
        <!-- 部门id-->
        <result property="deptId" column="deptId"/>
        <!-- 部门名称-->
        <result property="deptName" column="deptName"/>
        <!-- 用户类型-->
        <result property="wxType" column="wxType"/>
        <!-- 昵称-->
        <result property="nickName" column="nickName"/>
        <!-- 姓名-->
        <result property="name" column="name"/>
        <!-- 电话-->
        <result property="phone" column="phone"/>
        <!-- 头像地址-->
        <result property="avatar" column="avatar"/>
        <!-- 证件类型-->
        <result property="cardType" column="cardType"/>
        <!-- 证件号码-->
        <result property="idCard" column="idCard"/>
        <!-- 地址-->
        <result property="address" column="address"/>
        <!-- 资料完善状态-->
        <result property="whole" column="whole"/>
    </resultMap>
    <!-- 根据用户id获取 小程序用户信息-->
    <select id="findWxInfoByUserId" parameterType="Long" resultMap="WxInfoResultMap">
        SELECT
        wx.id as wxId,
        wx.user_id as userId,
        u.dept_id as deptId,
        wx.dept_name as deptName,
        wx.wx_type as wxType,
        wx.nick_name as nickName,
        wx.user_name as name,
        wx.phone,
        wx.headimg_url as avatar,
        wx.card_type as cardType,
        wx.id_card as idCard,
        wx.address,
        wx.whole
        FROM
        sys_wx_user AS wx
        LEFT JOIN
        sys_user AS u
        ON
        wx.user_id = u.user_id
        where wx.del_flag = '0' and
        wx.user_id = #{userId}
    </select>
    <!--根据微信id获取 小程序用户信息-->
    <select id="findWxInfoByWxId" parameterType="String" resultMap="WxInfoResultMap">
        SELECT
        wx.id as wxId,
        wx.user_id as userId,
        u.dept_id as deptId,
        wx.dept_name as deptName,
        wx.wx_type as wxType,
        wx.nick_name as nickName,
        wx.user_name as name,
        wx.phone,
        wx.headimg_url as avatar,
        wx.card_type as cardType,
        wx.id_card as idCard,
        wx.address,
        wx.whole
        FROM
        sys_wx_user AS wx
        LEFT JOIN
        sys_user AS u
        ON
        wx.user_id = u.user_id
        where wx.del_flag = '0' and wx.id = #{wxId}
    </select>


    <insert id="saveRegisterInfo" parameterType="com.ruoyi.project.miniapp.controller.vo.VisitorApplyVo">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select  replace(uuid(),'-','')
        </selectKey>

        insert into visitor_apply_record
        (
        id,
        wx_user_id,
        wx_user_name,
        apply_time,
        apply_state,
        visit_time,
        dept_id,
        dept_name,
        access_matters,
        access_people_num,
        receptionist_id,
        receptionist_name
        )
        VALUES
        (
        #{id},
        #{wxUserId},
        #{wxUserName},
        #{applyTime},
        #{applyState},
        #{visitTime},
        #{deptId},
        #{deptName},
        #{accessMatters},
        #{accessPeopleNum},
        #{receptionistId},
        #{receptionistName}
        )
    </insert>

    <update id="batchUpdateName" parameterType="String">
        update visitor_apply_record set wx_user_name = #{name}
        where wx_user_id = #{wxUserId}
    </update>
    <select id="getMakingListByWxUserId" parameterType="String" resultMap="VisitorApplyRecordResult">
        <include refid="selectVisitorApplyRecordVo"/>
        <where>
            <if test="wxUserId != null  and wxUserId != ''">  and wx_user_id = #{wxUserId}</if>
            <if test="visitTime != null and visitTime != ''"> and visit_time = #{visitTime} </if>
            <if test="visitTime == null"> and visit_time > DATE_ADD(NOW(),INTERVAL -3 MONTH) </if>
<!--            <if test="applyState != null  and applyState != ''">  and apply_state = #{applyState}</if>-->

            <if test="applyState != null  and applyState != ''">
             and apply_state IN
            <foreach collection="ids" index="index" item="id" separator="," close=")" open="(">
                #{id}
            </foreach>
            </if>


            <if test="guardId != null">and guard_id = #{guardId}</if>
            <if test="reviewedById != null">and reviewed_by_id = #{reviewedById}</if>
        </where>
         ORDER BY
            create_time DESC
    </select>

</mapper>
