<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.weixin.mapper.SysWxMenuMapper">

    <resultMap type="SysWxMenu" id="SysWxMenuResult">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="sort"    column="sort"    />
        <result property="parentId"    column="parent_id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="maAppId"    column="ma_app_id"    />
        <result property="maPagePath"    column="ma_page_path"    />
        <result property="repType"    column="rep_type"    />
        <result property="repContent"    column="rep_content"    />
        <result property="repMediaId"    column="rep_media_id"    />
        <result property="repName"    column="rep_name"    />
        <result property="repDesc"    column="rep_desc"    />
        <result property="repUrl"    column="rep_url"    />
        <result property="repHqUrl"    column="rep_hq_url"    />
        <result property="repThumbMediaId"    column="rep_thumb_media_id"    />
        <result property="repThumbUrl"    column="rep_thumb_url"    />
        <result property="content"    column="content"    />
        <result property="isOauth"    column="is_oauth"    />
    </resultMap>

    <sql id="selectSysWxMenuVo">
        select id, del_flag, create_time, update_time, sort, parent_id, type, name, url, ma_app_id, ma_page_path, rep_type, rep_content, rep_media_id, rep_name, rep_desc, rep_url, rep_hq_url, rep_thumb_media_id, rep_thumb_url, content, is_oauth from sys_wx_menu
    </sql>

    <select id="selectSysWxMenuList" parameterType="SysWxMenu" resultMap="SysWxMenuResult">
        <include refid="selectSysWxMenuVo"/>
        <where>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="maAppId != null  and maAppId != ''"> and ma_app_id = #{maAppId}</if>
            <if test="maPagePath != null  and maPagePath != ''"> and ma_page_path = #{maPagePath}</if>
            <if test="repType != null  and repType != ''"> and rep_type = #{repType}</if>
            <if test="repContent != null  and repContent != ''"> and rep_content = #{repContent}</if>
            <if test="repMediaId != null  and repMediaId != ''"> and rep_media_id = #{repMediaId}</if>
            <if test="repName != null  and repName != ''"> and rep_name like concat('%', #{repName}, '%')</if>
            <if test="repDesc != null  and repDesc != ''"> and rep_desc = #{repDesc}</if>
            <if test="repUrl != null  and repUrl != ''"> and rep_url = #{repUrl}</if>
            <if test="repHqUrl != null  and repHqUrl != ''"> and rep_hq_url = #{repHqUrl}</if>
            <if test="repThumbMediaId != null  and repThumbMediaId != ''"> and rep_thumb_media_id = #{repThumbMediaId}</if>
            <if test="repThumbUrl != null  and repThumbUrl != ''"> and rep_thumb_url = #{repThumbUrl}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
        order by parent_id, sort
    </select>

    <select id="selectSysWxMenuById" parameterType="String" resultMap="SysWxMenuResult">
        <include refid="selectSysWxMenuVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysWxMenu" parameterType="SysWxMenu">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select  replace(uuid(),'-','')
        </selectKey>
        insert into sys_wx_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sort != null">sort,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="type != null">type,</if>
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
            <if test="maAppId != null">ma_app_id,</if>
            <if test="maPagePath != null">ma_page_path,</if>
            <if test="repType != null">rep_type,</if>
            <if test="repContent != null">rep_content,</if>
            <if test="repMediaId != null">rep_media_id,</if>
            <if test="repName != null">rep_name,</if>
            <if test="repDesc != null">rep_desc,</if>
            <if test="repUrl != null">rep_url,</if>
            <if test="repHqUrl != null">rep_hq_url,</if>
            <if test="repThumbMediaId != null">rep_thumb_media_id,</if>
            <if test="repThumbUrl != null">rep_thumb_url,</if>
            <if test="content != null">content,</if>
            <if test="isOauth != null">is_oauth,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sort != null">#{sort},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="type != null">#{type},</if>
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
            <if test="maAppId != null">#{maAppId},</if>
            <if test="maPagePath != null">#{maPagePath},</if>
            <if test="repType != null">#{repType},</if>
            <if test="repContent != null">#{repContent},</if>
            <if test="repMediaId != null">#{repMediaId},</if>
            <if test="repName != null">#{repName},</if>
            <if test="repDesc != null">#{repDesc},</if>
            <if test="repUrl != null">#{repUrl},</if>
            <if test="repHqUrl != null">#{repHqUrl},</if>
            <if test="repThumbMediaId != null">#{repThumbMediaId},</if>
            <if test="repThumbUrl != null">#{repThumbUrl},</if>
            <if test="content != null">#{content},</if>
            <if test="isOauth != null">#{isOauth},</if>
         </trim>
    </insert>

    <update id="updateSysWxMenu" parameterType="SysWxMenu">
        update sys_wx_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
            <if test="maAppId != null">ma_app_id = #{maAppId},</if>
            <if test="maPagePath != null">ma_page_path = #{maPagePath},</if>
            <if test="repType != null">rep_type = #{repType},</if>
            <if test="repContent != null">rep_content = #{repContent},</if>
            <if test="repMediaId != null">rep_media_id = #{repMediaId},</if>
            <if test="repName != null">rep_name = #{repName},</if>
            <if test="repDesc != null">rep_desc = #{repDesc},</if>
            <if test="repUrl != null">rep_url = #{repUrl},</if>
            <if test="repHqUrl != null">rep_hq_url = #{repHqUrl},</if>
            <if test="repThumbMediaId != null">rep_thumb_media_id = #{repThumbMediaId},</if>
            <if test="repThumbUrl != null">rep_thumb_url = #{repThumbUrl},</if>
            <if test="content != null">content = #{content},</if>
            <if test="isOauth != null">is_oauth = #{isOauth},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysWxMenuById" parameterType="String">
        delete from sys_wx_menu where id = #{id}
    </delete>

    <delete id="deleteSysWxMenuByIds" parameterType="String">
        delete from sys_wx_menu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--是否存在子节点-->
    <select id="hasChildByMenuId" resultType="Integer">
        select count(1) from sys_wx_menu where parent_id = #{id}
    </select>

    <!--根据父节点id查询菜单个数-->
    <select id="getMenuNum" resultType="Integer">
        select count(1) from sys_wx_menu where parent_id = #{parentId}
    </select>

</mapper>
