<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ssosrasb.shopSignInfo.mapper.ShopSignInfoMapper">
    
    <resultMap type="ShopSignInfo" id="ShopSignInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="merchantInfoId"    column="merchant_info_id"    />
        <result property="shopSignTemplateId"    column="shop_sign_template_id"    />
        <result property="shopSignCategory"    column="shop_sign_category"    />
        <result property="code"    column="code"    />
        <result property="dimension"    column="dimension"    />
        <result property="materialType"    column="material_type"    />
        <result property="address"    column="address"    />
        <result property="handling"    column="handling"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="recordCode"    column="record_code"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="isRemove"    column="is_remove"    />
        <result property="removeTime"    column="remove_time"    />
        <result property="removeUnit"    column="remove_unit"    />
        <result property="isExpire"    column="is_expire"    />
        <result property="versionNo"    column="version_no"    />
        <result property="styleType"    column="style_type"    />
        <result property="shopSignStatus"    column="shop_sign_status"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectShopSignInfoVo">
        select id, name, merchant_info_id, shop_sign_template_id, shop_sign_category, code, dimension, material_type, address, handling, latitude, longitude, record_code, begin_time, end_time, is_remove, remove_time, remove_unit, is_expire, version_no, style_type, shop_sign_status, status, del_flag, create_by, create_time, update_by, update_time, remark from dz_shop_sign_info
    </sql>

    <select id="selectShopSignInfoList" parameterType="ShopSignInfo" resultMap="ShopSignInfoResult">
        <include refid="selectShopSignInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="merchantInfoId != null "> and merchant_info_id = #{merchantInfoId}</if>
            <if test="shopSignTemplateId != null "> and shop_sign_template_id = #{shopSignTemplateId}</if>
            <if test="shopSignCategory != null  and shopSignCategory != ''"> and shop_sign_category = #{shopSignCategory}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="dimension != null  and dimension != ''"> and dimension = #{dimension}</if>
            <if test="materialType != null  and materialType != ''"> and material_type = #{materialType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="handling != null  and handling != ''"> and handling = #{handling}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="recordCode != null  and recordCode != ''"> and record_code = #{recordCode}</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="isRemove != null  and isRemove != ''"> and is_remove = #{isRemove}</if>
            <if test="removeTime != null  and removeTime != ''"> and remove_time = #{removeTime}</if>
            <if test="removeUnit != null  and removeUnit != ''"> and remove_unit = #{removeUnit}</if>
            <if test="isExpire != null  and isExpire != ''"> and is_expire = #{isExpire}</if>
            <if test="versionNo != null  and versionNo != ''"> and version_no = #{versionNo}</if>
            <if test="styleType != null  and styleType != ''"> and style_type = #{styleType}</if>
            <if test="shopSignStatus != null  and shopSignStatus != ''"> and shop_sign_status = #{shopSignStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectShopSignInfoById" parameterType="Long" resultMap="ShopSignInfoResult">
        <include refid="selectShopSignInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShopSignInfo" parameterType="ShopSignInfo" useGeneratedKeys="true" keyProperty="id">
        insert into dz_shop_sign_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="merchantInfoId != null">merchant_info_id,</if>
            <if test="shopSignTemplateId != null">shop_sign_template_id,</if>
            <if test="shopSignCategory != null">shop_sign_category,</if>
            <if test="code != null">code,</if>
            <if test="dimension != null">dimension,</if>
            <if test="materialType != null">material_type,</if>
            <if test="address != null">address,</if>
            <if test="handling != null">handling,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="recordCode != null">record_code,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="isRemove != null">is_remove,</if>
            <if test="removeTime != null">remove_time,</if>
            <if test="removeUnit != null">remove_unit,</if>
            <if test="isExpire != null">is_expire,</if>
            <if test="versionNo != null">version_no,</if>
            <if test="styleType != null">style_type,</if>
            <if test="shopSignStatus != null">shop_sign_status,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="merchantInfoId != null">#{merchantInfoId},</if>
            <if test="shopSignTemplateId != null">#{shopSignTemplateId},</if>
            <if test="shopSignCategory != null">#{shopSignCategory},</if>
            <if test="code != null">#{code},</if>
            <if test="dimension != null">#{dimension},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="address != null">#{address},</if>
            <if test="handling != null">#{handling},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="recordCode != null">#{recordCode},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="isRemove != null">#{isRemove},</if>
            <if test="removeTime != null">#{removeTime},</if>
            <if test="removeUnit != null">#{removeUnit},</if>
            <if test="isExpire != null">#{isExpire},</if>
            <if test="versionNo != null">#{versionNo},</if>
            <if test="styleType != null">#{styleType},</if>
            <if test="shopSignStatus != null">#{shopSignStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateShopSignInfo" parameterType="ShopSignInfo">
        update dz_shop_sign_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="merchantInfoId != null">merchant_info_id = #{merchantInfoId},</if>
            <if test="shopSignTemplateId != null">shop_sign_template_id = #{shopSignTemplateId},</if>
            <if test="shopSignCategory != null">shop_sign_category = #{shopSignCategory},</if>
            <if test="code != null">code = #{code},</if>
            <if test="dimension != null">dimension = #{dimension},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="address != null">address = #{address},</if>
            <if test="handling != null">handling = #{handling},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="recordCode != null">record_code = #{recordCode},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="isRemove != null">is_remove = #{isRemove},</if>
            <if test="removeTime != null">remove_time = #{removeTime},</if>
            <if test="removeUnit != null">remove_unit = #{removeUnit},</if>
            <if test="isExpire != null">is_expire = #{isExpire},</if>
            <if test="versionNo != null">version_no = #{versionNo},</if>
            <if test="styleType != null">style_type = #{styleType},</if>
            <if test="shopSignStatus != null">shop_sign_status = #{shopSignStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShopSignInfoById" parameterType="Long">
        delete from dz_shop_sign_info where id = #{id}
    </delete>

    <delete id="deleteShopSignInfoByIds" parameterType="String">
        delete from dz_shop_sign_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>