<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.leave.BpmOaLeaveMapper">
    <resultMap type="BpmOaLeave" id="BpmOaLeaveResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="reason" column="reason"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="day" column="day"/>
        <result property="result" column="result"/>
        <result property="processInstanceId" column="process_instance_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectBpmOaLeaveVo">
        select id,
               user_id,
               type,
               reason,
               start_time,
               end_time, day, result, process_instance_id, del_flag, create_by, create_time, update_by, update_time, remark
        from
            bpm_oa_leave
    </sql>

    <select id="selectBpmOaLeaveList" parameterType="BpmOaLeave" resultMap="BpmOaLeaveResult">
        <include refid="selectBpmOaLeaveVo"/>
        <where>
            <if test="userId != null">
                and user_id =
                #{userId}
            </if>
            <if test="type != null">
                and type =
                #{type}
            </if>
            <if test="reason != null  and reason != ''">
                and reason =
                #{reason}
            </if>
            <if test="startTime != null">
                and start_time =
                #{startTime}
            </if>
            <if test="endTime != null">
                and end_time =
                #{endTime}
            </if>
            <if test="day != null">
                and day =
                #{day}
            </if>
            <if test="result != null">
                and result =
                #{result}
            </if>
            <if test="processInstanceId != null  and processInstanceId != ''">
                and process_instance_id =
                #{processInstanceId}
            </if>
        </where>
    </select>

    <select id="selectBpmOaLeaveById" parameterType="Long"
            resultMap="BpmOaLeaveResult">
        <include refid="selectBpmOaLeaveVo"/>
        where id = #{id}
    </select>

    <insert id="insertBpmOaLeave" parameterType="BpmOaLeave" useGeneratedKeys="true"
            keyProperty="id">
        insert into bpm_oa_leave
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="reason != null and reason != ''">
                reason,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="day != null">
                day,
            </if>
            <if test="result != null">
                result,
            </if>
            <if test="processInstanceId != null">
                process_instance_id,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="reason != null and reason != ''">
                #{reason},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="day != null">
                #{day},
            </if>
            <if test="result != null">
                #{result},
            </if>
            <if test="processInstanceId != null">
                #{processInstanceId},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateBpmOaLeave" parameterType="BpmOaLeave">
        update bpm_oa_leave
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="reason != null and reason != ''">
                reason = #{reason},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="day != null">
                day = #{day},
            </if>
            <if test="result != null">
                result = #{result},
            </if>
            <if test="processInstanceId != null">
                process_instance_id = #{processInstanceId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBpmOaLeaveById" parameterType="Long">
        delete from bpm_oa_leave where id = #{id}
    </delete>

    <delete id="deleteBpmOaLeaveByIds" parameterType="String">
        delete from bpm_oa_leave where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
