<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.company.mapper.CompanyInfoMapper">
    
    <resultMap type="CompanyInfo" id="CompanyInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="industryTypeId"    column="industry_type_id"    />
        <result property="staffSize"    column="staff_size"    />
        <result property="directorName"    column="director_name"    />
        <result property="directorPhone"    column="director_phone"    />
        <result property="logo"    column="logo"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <association property="industryType"    column="industry_type_id" javaType="IndustryType" resultMap="IndustryTypeResult" />
    </resultMap>

    <resultMap type="IndustryType" id="IndustryTypeResult">
        <result property="id"    column="type_id"    />
        <result property="name"    column="type_name"    />
        <result property="sort"    column="sort"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createTime"    column="type_create_time"    />
        <result property="updateTime"    column="type_update_time"    />
    </resultMap>

    <sql id="selectCompanyInfoVo">
        select c.id, c.name, c.industry_type_id, c.staff_size, c.director_name, c.director_phone, c.logo, c.create_by,
               c.create_time, c.update_by, c.update_time, c.remark, c.user_id, c.type,
               i.id as type_id, i.name as type_name, i.sort, i.parent_id, i.create_time as type_create_time, i.update_time as type_update_time
        from company_info c
        left join industry_type i on c.industry_type_id = i.id
    </sql>

    <select id="selectCompanyInfoList" parameterType="CompanyInfo" resultMap="CompanyInfoResult">
        <include refid="selectCompanyInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and c.name like concat('%', #{name}, '%')</if>
            <if test="industryTypeId != null  and industryTypeId != ''"> and c.industry_type_id = #{industryTypeId}</if>
            <if test="staffSize != null  and staffSize != ''"> and c.staff_size = #{staffSize}</if>
            <if test="directorName != null  and directorName != ''"> and c.director_name like concat('%', #{directorName}, '%')</if>
            <if test="directorPhone != null  and directorPhone != ''"> and c.director_phone like concat('%', #{directorPhone}, '%')</if>
            <if test="logo != null  and logo != ''"> and c.logo = #{logo}</if>
            <if test="type != null  and type != ''"> and c.type = #{type}</if>
        </where>
    </select>
    
    <select id="selectCompanyInfoById" parameterType="String" resultMap="CompanyInfoResult">
        <include refid="selectCompanyInfoVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertCompanyInfo" parameterType="CompanyInfo">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select  replace(uuid(),'-','')
        </selectKey>
        insert into company_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="industryTypeId != null">industry_type_id,</if>
            <if test="staffSize != null">staff_size,</if>
            <if test="directorName != null">director_name,</if>
            <if test="directorPhone != null">director_phone,</if>
            <if test="logo != null">logo,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="industryTypeId != null">#{industryTypeId},</if>
            <if test="staffSize != null">#{staffSize},</if>
            <if test="directorName != null">#{directorName},</if>
            <if test="directorPhone != null">#{directorPhone},</if>
            <if test="logo != null">#{logo},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateCompanyInfo" parameterType="CompanyInfo">
        update company_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="industryTypeId != null">industry_type_id = #{industryTypeId},</if>
            <if test="staffSize != null">staff_size = #{staffSize},</if>
            <if test="directorName != null">director_name = #{directorName},</if>
            <if test="directorPhone != null">director_phone = #{directorPhone},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyInfoById" parameterType="String">
        delete from company_info where id = #{id}
    </delete>

    <delete id="deleteCompanyInfoByIds" parameterType="String">
        delete from company_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据用户id查询企业信息-->
    <select id="selectCompanyInfoByUserId" parameterType="Long" resultMap="CompanyInfoResult">
        <include refid="selectCompanyInfoVo"/>
        where c.user_id = #{id}
    </select>

    <!--根据名称查询企业信息-->
    <select id="selectCompanyInfoByName" parameterType="String" resultMap="CompanyInfoResult">
        <include refid="selectCompanyInfoVo"/>
        where c.name = #{name}
    </select>

</mapper>