<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.file.mapper.DocumentInfoMapper">
    
    <resultMap type="DocumentInfo" id="DocumentInfoResult">
        <result property="id"    column="id"    />
        <result property="fullPath"    column="full_path"    />
        <result property="fileName"    column="file_name"    />
        <result property="uploadUserId"    column="upload_user_id"    />
        <result property="uploadUserAccount"    column="upload_user_account"    />
        <result property="uploadUserName"    column="upload_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="url"    column="url"    />
        <result property="comId"    column="com_id"    />
        <result property="oldFileName"    column="old_file_name"    />
    </resultMap>

    <resultMap type="com.ruoyi.project.file.domain.vo.DocumentInfoVo" id="DocumentInfoVoResult">
        <result property="id"    column="id"    />
        <result property="fullPath"    column="full_path"    />
        <result property="fileName"    column="file_name"    />
        <result property="uploadUserId"    column="upload_user_id"    />
        <result property="uploadUserAccount"    column="upload_user_account"    />
        <result property="uploadUserName"    column="upload_user_name"    />
        <result property="url"    column="url"    />
        <result property="comId"    column="com_id"    />
        <result property="name"    column="old_file_name"    />
    </resultMap>

    <sql id="selectDocumentInfoVo">
        select id, full_path, file_name, upload_user_id, upload_user_account, upload_user_name, create_time, url, com_id, old_file_name from document_info
    </sql>

    <select id="selectDocumentInfoList" parameterType="DocumentInfo" resultMap="DocumentInfoResult">
        <include refid="selectDocumentInfoVo"/>
        <where>  
            <if test="fullPath != null  and fullPath != ''"> and full_path = #{fullPath}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="uploadUserId != null  and uploadUserId != ''"> and upload_user_id = #{uploadUserId}</if>
            <if test="uploadUserAccount != null  and uploadUserAccount != ''"> and upload_user_account = #{uploadUserAccount}</if>
            <if test="uploadUserName != null  and uploadUserName != ''"> and upload_user_name like concat('%', #{uploadUserName}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="comId != null  and comId != ''"> and com_id = #{comId}</if>
            <if test="oldFileName != null  and oldFileName != ''"> and old_file_name like concat('%', #{oldFileName}, '%')</if>
        </where>
    </select>
    
    <select id="selectDocumentInfoById" parameterType="String" resultMap="DocumentInfoResult">
        <include refid="selectDocumentInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDocumentInfo" parameterType="DocumentInfo">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select  replace(uuid(),'-','')
        </selectKey>
        insert into document_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fullPath != null">full_path,</if>
            <if test="fileName != null">file_name,</if>
            <if test="uploadUserId != null">upload_user_id,</if>
            <if test="uploadUserAccount != null">upload_user_account,</if>
            <if test="uploadUserName != null">upload_user_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="url != null">url,</if>
            <if test="comId != null and comId != ''">com_id,</if>
            <if test="oldFileName != null">old_file_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fullPath != null">#{fullPath},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="uploadUserId != null">#{uploadUserId},</if>
            <if test="uploadUserAccount != null">#{uploadUserAccount},</if>
            <if test="uploadUserName != null">#{uploadUserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="url != null">#{url},</if>
            <if test="comId != null and comId != ''">#{comId},</if>
            <if test="oldFileName != null">#{oldFileName},</if>
         </trim>
    </insert>

    <update id="updateDocumentInfo" parameterType="DocumentInfo">
        update document_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fullPath != null">full_path = #{fullPath},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="uploadUserId != null">upload_user_id = #{uploadUserId},</if>
            <if test="uploadUserAccount != null">upload_user_account = #{uploadUserAccount},</if>
            <if test="uploadUserName != null">upload_user_name = #{uploadUserName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="url != null">url = #{url},</if>
            <if test="comId != null and comId != ''">com_id = #{comId},</if>
            <if test="oldFileName != null">old_file_name = #{oldFileName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDocumentInfoById" parameterType="String">
        delete from document_info where id = #{id}
    </delete>

    <delete id="deleteDocumentInfoByIds" parameterType="String">
        delete from document_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据业务实体id查询-->
    <select id="selectDocumentInfoByIndex" parameterType="String" resultMap="DocumentInfoVoResult">
        <include refid="selectDocumentInfoVo"/>
        where id in (
            select document_id
            from business_info where entity_id_index =#{entityIdIndex}
        )
    </select>
    
</mapper>